.hero {
  position: relative;
  height: calc(100vh - 190px);
  max-height: 800px !important;
  min-height: 500px !important;
  align-items: center;
  display: flex;
}
.hero_text,
.hero_text2 {
  font-size: 50px;
  width: 100%;
  font-weight: 700;
}
.hero_text1 {
  color: #fd6767;
  font-size: 50px;
  width: 100%;
  font-weight: 700;
}
.hero_column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}
.hero_btn {
  width: 220px;
  height: 68px;
  font-size: 24px;
  width: calc(100% + 50px);
}
.hero_image {
  width: 100%;
  height: 100%;
}
.hero_div1 {
  width: fit-content;
}
