.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
.navbar_Logo {
  height: 40px;
  width: 40px;
}
.navbar_link {
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 15px;
  color: var(--subnav_plt-txt) !important;
}
.navbar_link-text {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0 !important;
}
.navbar_link1 {
  color: var(--subnav_plt-txt) !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  font-size: 22px;
  display: inline-block;
  text-decoration: none;
  font-size: 18px !important;
}
.navbar_link1:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 3px solid var(--subnav_plt-txt);
  border-radius: 3px;
  margin: 0 auto;
  transition: 0.3s;
}
.navbar_link1:hover:after {
  width: 90%;
}
.navbar_list {
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 17px;
}
.navbar_form-link {
  background-color: #fd5555 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 170px;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #fd5555;
  transition: 0.4s;
  font-weight: 600;
}
.navbar_form-link:hover {
  background-color: transparent !important;
  color: #fff;
}
.navbar {
  height: 120px;
  align-items: center;
  display: flex !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: -1px !important;
  z-index: 9999999;
  justify-content: center !important;
}
.navbar_lang-div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.lang_text1 {
  margin-bottom: 0 !important;
}
.navbar_form {
  display: flex;
  column-gap: 15px;
}
/* .background {
  border: 1px solid var(--border1) !important;
}
 */